{% extends 'base.html' %}
{% block main %}
<!--
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
-->

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="main-container">
    <h1>MANAGE USER</h1>
    <div class="circle"></div>
    <form method="POST" action="{{ url_for('admin_manage_route.manage_user', id=user.id) }}" id="user-form">
        <div class="form-container">

            {{ form.hidden_tag() }}

            <!-- Two columns for form fields -->
            <div class="columns">
                <div class="column">
                    <div class="input-group">
                        <span class="input-label">LOGIN NAME:</span>
                        {{ form.login_name(size=35, class="form-control", placeholder="ENTER LOGIN NAME") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">FIRST NAME:</span>
                        {{ form.first_name(size=35, class="form-control", placeholder="ENTER FIRST NAME") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">LAST NAME:</span>
                        {{ form.last_name(size=35, class="form-control", placeholder="ENTER LAST NAME") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">UNIVERSITY NUMBER:</span>
                        {{ form.university_number(size=35, class="form-control", placeholder="ENTER UNIVERSITY NUMBER")
                        }}
                    </div>
                </div>

                <div class="column">
                    <div class="input-group">
                        <span class="input-label">PROGRAM/ROLE:</span>
                        {{ form.program(size=35, class="form-control", placeholder="ENTER PROGRAM") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">UNIVERSITY EMAIL:</span>
                        {{ form.university_email(size=35, class="form-control", placeholder="ENTER EMAIL") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">ACCOUNT TYPE:</span>
                        {{ form.account_status(class="form-control", style="background-color: #C4B381; font-weight:
                        bold;") }}
                    </div>

                    <div class="input-group">
                        <span class="input-label">PASSWORD:</span>
                        {{ form.password(size=35, class="form-control", placeholder="NEW PASSWORD")}}
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            {{ form.create_user(size=20, class="btn btn-success", type="submit", style="font-weight: bold;")}}

            <button class="btn-cancel" id="cancel-btn" style="font-weight: bold;">CANCEL</button>

        </div>

    </form>

    <a onclick="confirmMessage()" style="text-decoration: underline; color: #FF0000; font-weight: bold;">Delete Account</a>
</div>


<style>
    body {
        background-color: #FFF6DD;
    }

    .alert-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert {
        width: 80%;
        max-width: 500px;
        /* Adjust as needed */
        margin: 10px 0;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    .alert.success {
        background-color: #54F47D;
        /* Green color for success */
        color: white;
    }

    .closebtn {
        cursor: pointer;
        float: right;
        font-size: 20px;
        margin-left: 10px;
    }

    .main-container {
        text-align: center;
        padding: 10px;
    }

    .form-container {
        max-width: 1000px;
        padding: 50px;
        font-family: Montserrat;
        margin: 0 auto;
        padding: 20px;
        background-color: #E8DFC7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .circle {
        width: 100px;
        height: 100px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 auto;
        /* Center horizontally */
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        justify-content: center;
        font-weight: bold;
    }


    form {
        margin: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-success {
        background-color: #5A110C;
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        min-width: 200px
    }

    .btn-cancel {
        background-color: #371513;
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        min-width: 200px
    }

    .btn-group {
        margin-top: 20px;
    }

    .alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
    }

    .alert-danger {
        border: 1px solid #f5c6cb;
    }

    /* Style the input group to display the label and input field together */
    .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 1px;
        background-color: #F5F5F5;
        border-radius: 10px;

    }

    /* Style the label within the input group */
    .input-label {
        flex: 0 0 150px;
        /* Adjust the width as needed */
        font-weight: bold;
        margin-right: 10px;
        color: #A5A5A5;
    }

    /* Style the input field within the input group */
    .form-control {
        flex: 1;
        min-width: 100px;
        padding: 20px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        text-align: left;
        background-color: #F5F5F5;
    }

    /* Style the placeholder text */
    .form-control::placeholder {
        color: #A5A5A5;
        font-weight: normal;
        /* Remove bold styling for placeholder */
    }

    .columns {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        margin-right: 20px;
    }
</style>
<script>

    const cancelBTN = document.getElementById("cancel-btn");

    cancelBTN.onclick = function () {
        history.back();
    }

    const userForm = document.getElementById("user-form");
    cancelBTN.addEventListener("click", function (event) {
        event.preventDefault();
        location.href = "{{url_for('admin_redirects.manage_users')}}"
    });

    function confirmMessage() {
        let text = "This will delete the user from the database!\nClick OK to confirm.";
        if (confirm(text) == true) {
            location.href = "{{url_for('admin_manage_route.delete_user', id=user.id)}}"
        }
    }
</script>

{% endblock %}