{% extends 'base.html' %}
{% block main %}
<div class="dashboard-container">
    <!-- Admin Info -->
    <div class="admin-info">
        <p>{{account_type[current_user.account_status]}}</p>
        <div class="user-circle"></div>
        <div class="user-info">
            <h3>{{current_user.first_name + " " + current_user.last_name}}</h3>
            <p>{{current_user.program}}</p>
        </div>
    </div>

    <!-- Dashboard buttons -->
    <button class="dashboard-button" id="manageUsersBtn"
        style="background-color: {% if show_manage_users %} #AC8616 {% endif %};">MANAGE USERS</button>
    <button class="dashboard-button" id="manageSessionsBtn" style="background-color: {% if show_session_requests %} #AC8616 {% endif %};">MANAGE SESSIONS</button>
    <button class="dashboard-button" id="tutorApplicationBtn" style="background-color: {% if show_tutor_applications %} #AC8616 {% endif %};">TUTOR APPLICATIONS</button>
    <button class="dashboard-button" id="activityLogsBtn"
        style="background-color: {% if show_manage_logs %} #AC8616 {% endif %};">ACTIVITY LOGS</button>
</div>

<div class="content">
    <!-- Content for different dashboard sections goes here -->
    {% if not show_manage_users and not show_manage_logs and not show_session_requests and not show_tutor_applications %}
    <div class="dash-info">
        <div class="welcome-message">
            <h1>Welcome {{current_user.first_name}}</h1>
            <p>This is your admin dashboard. You can manage users, sessions, and tutor applications using the buttons on
                the
                left.</p>
        </div>
    </div>
    {% endif %}
    <!-- MANAGE USERS HIDDEN DEFAULT-->
    <div id="manage-users" style="display: {% if show_manage_users %}block{% else %}none{% endif %};">
        <h1>Manage Users</h1>
        <div class="manage-block-container" id="manageUsersContent" style="display: block;">
            <div class="header">
                <input type="text" class="manage-block-search-bar" placeholder="Search users...">
                <select class="manage-block-filter-dropdown">
                    <option value="all">All</option>
                    <option value="active">Tutor</option>
                    <option value="inactive">Student</option>
                </select>
            </div>
            {% if users %}
            {% for user in users %}
            <div class="manage-block-user-box">
                <div class="manage-block-user-info">
                    <div class="user-circle-list"></div>
                    <p class="user-name">{{ user.first_name + " " + user.last_name}}</p>
                    <p class="account-type-lable">{{ account_type[user.account_status] }}</p>
                </div>
                <div class="manage-block-manage-button-container">
                    <button class="manage-block-manage-button"
                        onclick="location.href = '{{ url_for('admin_manage_route.manage_user', id=user.id)}}';">MANAGE</button>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <h1>No users found.</h1>
            {% endif %}
        </div>
        <button class="manage-block-manage-button"
            onclick="location.href = '{{url_for('admin_creation_route.create_user')}}';">CREATE NEW USER</button>
    </div>

    <!-- Manage LOGS-->
    <div id="manage-block" style="display: {% if show_manage_logs %}block{% else %}none{% endif %};">
        <h1>Manage Activity Logs</h1>
        <div class="manage-block-container" id="manageUsersContent" style="display: block;">
            {% if activity_logs %}
            {% for log, user in activity_logs %}
            <div class="manage-block-user-box">
                <div class="manage-block-user-info">
                    <p
                        class=" {% if log.activity_type == 'USER CREATION' %} user-creation-label {% elif log.activity_type == 'USER DELETION' %} user-deletion-label {% endif %}">
                        {{ log.activity_type }}</p>
                    <p class="user-name"><strong>Date: </strong> {{ log.timestamp }} |</p>
                    <p class="user-name"><strong>Description: </strong>{{ log.description }}</p>
                    <p class="user-name"><strong>Executed By: </strong>{% if user.account_status == 1 %} Admin {% elif
                        user.account_status == 2 %} Tutor {% else %} Student {% endif %}</p>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1>No logs found.</h1>
            {% endif %}
        </div>
    </div>

    <div id="manage-block" style="display: {% if show_session_requests %}block{% else %}none{% endif %};">
        <h1>Sessions</h1>
        <div class="manage-sessions-block-container"style="display: block;">
            {% if requests %}
            {% for request in requests %}
            {% if request.session_status != 'requested' %}
            <div class="manage-sessions-block-user-box">
                <div class="manage-sessions-block-user-info" style="background-color: #EEC148; text-align: center;padding: 15px; border-radius: 10px; max-width: 200px; min-width: 200px;">
                    <h3 class="manage-sessions-name" style="font-size: 20; font-weight: bolder;">{{ request.course_code}}</h3>
                    <p class="manage-sessions-name" style="font-weight: lighter;">{{ request.course_name}}</p>

                </div>
                <div class="manage-sessions-block-user-info">
                    <h3 class="manage-sessions-name" style="font-size: 20; font-weight: bolder;">STUDENT: {{ request.student.first_name + "
                        " + request.student.last_name}} - <i>{{request.student.program}}</i></h3>
                        <p class="manage-sessions-name">DATE: {{ request.session_date}} - {{ request.session_time}}</p>
                    <p class="manage-sessions-name" style="font-weight: lighter;">{{ request.description}}</p>
                </div>
                
                <div class="manage-sessions-block-manage-button-container">
                    <button class="manage-sessions-block-manage-button" onclick="location.href = '{{url_for('tutor_redirects.manage_session' , id=request.id)}}';">MANAGE</button>
                </div>

            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h1>No Requests found.</h1>
            {% endif %}
        </div>
    </div>


    <!-- MANAGE TUTOR APPLICATIONS HIDDEN DEFAULT-->
    <div id="manage-users" style="display: {% if show_tutor_applications %} block {% else %}none{% endif %};">
        <h1>Manage Tutor Applications</h1>
        <div class="manage-block-container" id="manageUsersContent" style="display: block;">
            <div class="header">
                <input type="text" class="manage-block-search-bar" placeholder="Search users...">
                <select class="manage-block-filter-dropdown">
                    <option value="all">All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            {% if applications %}
            {% for application in applications %}
            <div class="manage-block-user-box">
                <div class="manage-block-user-info">
                    <div class="user-circle-list"></div>
                    <p class="user-name">{{ application.student.first_name + " " + application.student.last_name + " " + "(" + application.student.university_number + ")"}}</p>
                    <p class="account-type-lable">{{ application.student.program }}</p> 
                </div>
                <div class="manage-block-manage-button-container">
                    <button class="manage-block-manage-button"
                        onclick="location.href = '{{url_for('admin_redirects.manage_tutor_application_page', id=application.id)}}';">MANAGE</button>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <h1>No users found.</h1>
            {% endif %}
        </div>
    </div>

</div>

<style>
    /* Admin Dashboard Styles */
    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #FFF6DD;
    }

    .dashboard-container {
        background-color: #371513;
        height: 100%;
        /* Set a fixed vertical height, e.g., 100% of the viewport height */
        position: fixed;
        width: 20%;
        /* Roughly 1/4 of the screen */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Center content vertically */
        padding: 20px;
        top: 1;
    }

    .admin-info {
        color: #FFE085;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-top: -50%;
    }

    .user-circle {
        width: 120px;
        height: 120px;
        background-color: #ccc;
        border-radius: 50%;
        margin-bottom: 10px;
        /* Center the circle horizontally and vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }


    .user-info {
        text-align: center;
    }

    .user-info h3 {
        margin: 0;
        font-size: 18px;
    }

    .dashboard-button {
        font-size: 20px;
        background-color: #FFF2CA;
        color: #000000;
        border: none;
        padding: 10px 20px;
        margin: 10px 0;
        cursor: pointer;
        text-align: center;
        min-width: 80%;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Content styles */
    .content {
        margin-left: 23%;
        /* Adjust this margin based on the dashboard width */
        padding: 10px;
    }

    .welcome-message {
        text-align: center;
        background-color: #FFF2CA;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .welcome-message h1 {
        font-size: 32px;
        color: #000000;
    }

    .welcome-message p {
        font-size: 18px;
        color: #000000;
    }

    .manage-block-container {
        max-width: 100%;
        min-height: 60vh;
        max-height: 60vh;
        margin: 0 auto;
        padding: 20px;
        background-color: #E8DFC7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow-y: auto;
        /* Add this line to enable vertical scrolling */
    }

    .manage-block-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .manage-block-search-bar {
        width: 60%;
        padding: 10px;
        border: 1px solid #C4B381;
        background-color: #C4B381;
        border-radius: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .manage-block-filter-dropdown {
        width: 28%;
        padding: 10px;
        border: 1px solid #01161E;
        background-color: #01161E;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
    }

    .manage-block-user-box {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

    }

    .manage-block-user-info {
        display: flex;
        align-items: space-between;
        max-width: 100%;
        margin-left: 10px;
    }

    .manage-block-user-info p {
        padding: 10px;
        font-size: 16px;

        /* Adjust the font size as needed */
    }

    .account-type-lable {
        margin: auto;
        background-color: #EEC148;
        border-radius: 10px;
        font-weight: bold;
    }

    .manage-block-manage-button-container {
        margin-left: auto;
        /* Align the button to the right */
    }

    .manage-block-manage-button {
        background-color: #5A110C;
        color: #fff;
        border: none;
        padding: 15px;
        /* Adjust padding as needed */
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        margin-top: 15px;
    }

    .user-circle-list {
        width: 60px;
        height: 60px;
        background-color: #ccc;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
        /* Center the circle horizontally and vertically */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .user-name {
        margin-left: 10px;
        font-size: 16px;
        white-space: nowrap;
        /* Prevent text from wrapping */
    }

    .user-creation-label {
        background-color: #006400;
        color: #FFFFFF;
        border-radius: 10px;
    }

    .user-deletion-label {
        background-color: #5A110C;
        color: #FFFFFF;
        border-radius: 10px;
    }


    .manage-sessions-block-container {
        max-width: 100%;
        min-height: 60vh;
        max-height: 60vh;
        margin: 0 auto;
        padding: 20px;
        background-color: #E8DFC7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow-y: auto;
        /* Add this line to enable vertical scrolling */
    }

    .manage-sessions-block-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .manage-sessions-block-search-bar {
        width: 60%;
        padding: 10px;
        border: 1px solid #C4B381;
        background-color: #C4B381;
        border-radius: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .manage-sessions-block-filter-dropdown {
        width: 28%;
        padding: 10px;
        border: 1px solid #01161E;
        background-color: #01161E;
        color: #fff;
        border-radius: 10px;
        font-size: 16px;
    }

    .manage-sessions-block-user-box {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

    }

    .manage-sessions-block-user-info {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        max-width: 100%;
        margin-left: 10px;
    }


    .manage-sessions-block-manage-button-container {
        margin-left: auto;
        padding: 10px;
        /* Align the button to the right */
    }

    .manage-sessions-block-manage-button {
        background-color: #5A110C;
        color: #fff;
        border: none;
        padding: 15px;
        /* Adjust padding as needed */
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        margin-top: 15px;
    }
</style>

<script>
    const manageUsersBtn = document.getElementById('manageUsersBtn');
    const manageSessionsBtn = document.getElementById('manageSessionsBtn');
    const tutorApplicationBtn = document.getElementById('tutorApplicationBtn');
    const activityLogsBtn = document.getElementById('activityLogsBtn');
    const content = document.querySelector('.dash-info');
    const manageUsersContent = document.getElementById('manage-users');

    function clearContent() {
        content.innerHTML = ''; // Clear existing content
    }

    function clearButtonClear() {
        manageUsersBtn.style.backgroundColor = '#FFF2CA';
        manageSessionsBtn.style.backgroundColor = '#FFF2CA';
        tutorApplicationBtn.style.backgroundColor = '#FFF2CA';
    }

    // Event listeners for dashboard buttons
    manageUsersBtn.addEventListener('click', () => {
        location.href = "{{url_for('admin_redirects.manage_users')}}";
    });

    manageSessionsBtn.addEventListener('click', () => {
        location.href = "{{url_for('admin_redirects.admin_manage_sessions')}}"
    });

    tutorApplicationBtn.addEventListener('click', () => {
        location.href = "{{ url_for('admin_redirects.manage_tutor_applications')}}"
    });

    activityLogsBtn.addEventListener('click', () => {
        location.href = "{{url_for('admin_redirects.manage_activity_logs')}}";
    })
</script>

{% endblock %}