<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{url_for('static', filename='registration.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo.png')}}">
</head>

<body>
  <div class="container">
    <img src="{{url_for('static', filename='logo.png')}}">
    <h1>Mentor Match</h1>
    <div class="jumbotron">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form method="POST" action="{{ url_for('registration.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.login_name(size=20, class="form-control", placeholder="LOGIN NAME") }}
        </div>

        <div class="form-group">
          {{ form.first_name(size=20, class="form-control", placeholder="FIRST NAME") }}
        </div>

        <div class="form-group">

          {{ form.last_name(size=20, class="form-control", placeholder="LAST NAME") }}
        </div>

        <div class="form-group">
          {{ form.university_number(size=20, class="form-control", placeholder="STUDENT NUMBER") }}
        </div>

        <div class="form-group">

          {{ form.program(size=20, class="form-control", placeholder="PROGRAM") }}
        </div>

        <div class="form-group">

          {{ form.university_email(size=20, class="form-control", placeholder="EMAIL") }}
        </div>

        <div class="form-group">
          {{ form.password(size=20, class="form-control", placeholder="PASSWORD", type="password") }}
        </div>

        <div class="text-center">
          {{ form.register(size=20, class="btn btn-success", type="submit") }}
        </div>
      </form>
    </div>
    <div class="text-center">
      <p style="color: #FFE085">Already have an account? <a href="{{ url_for('authentication.login') }}">Login here.</a></p>
    </div>
  </div>
</body>

</html>
