{% extends 'base.html' %}
{% block main %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="main-container">
    {% if not application %}
    <h1>TUTOR APPLICATION</h1>
    <h4>Provide a brief explanation on why you want to become a tutor</h4>
    {% endif %}
    {% if not application%}
    <form method="POST" action="{{url_for('student_tutor_application.tutor_application')}}" id="user-form">
        <div class="form-container">
            {{ form.hidden_tag() }}
            <!-- Two columns for form fields -->
            <div class="columns">
                <div class="column">
                    {{ form.description(size=35, class="form-control", placeholder="explanation", rows="15", cols="105",
                    disable=False) }}
                </div>
            </div>
        </div>
        <div class="btn-group">
            {{ form.request(size=20, class="btn btn-success", type="submit", style="font-weight: bold;",
            disable=False)}}
        </div>
    </form>
    {% else %}

    <div class="form-container">
        <h1> Thank you for submitting your application. <br> We will contact you as soon as possible.</h1>
        <div class="columns">
            
            <div class="column">
                <p>Your Submission:</p>
                <p>{{application.description}}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<style>
    body {
        background-color: #FFF6DD;
    }

    .alert-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert {
        width: 80%;
        max-width: 500px;
        /* Adjust as needed */
        margin: 10px 0;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }

    .alert.success {
        background-color: #54F47D;
        /* Green color for success */
        color: white;
    }

    .closebtn {
        cursor: pointer;
        float: right;
        font-size: 20px;
        margin-left: 10px;
    }

    .main-container {
        text-align: center;
        padding: 10px;
    }

    .form-container {
        max-width: 1000px;
        padding: 50px;
        font-family: Montserrat;
        margin: 0 auto;
        padding: 20px;
        background-color: #E8DFC7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .circle-edit-profile {
        width: 100px;
        height: 100px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 auto;
        /* Center horizontally */
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        justify-content: center;
        font-weight: bold;
    }


    form {
        margin: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-success {
        background-color: #5A110C;
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        min-width: 200px
    }

    .btn-cancel {
        background-color: #371513;
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        min-width: 200px
    }

    .btn-group {
        margin-top: 20px;
    }

    .alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
    }

    .alert-danger {
        border: 1px solid #f5c6cb;
    }

    .form-control {
        flex: 1;
        min-width: 100px;
        padding: 20px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        text-align: left;
        background-color: #F5F5F5;
    }

    /* Style the placeholder text */
    .form-control::placeholder {
        color: #A5A5A5;
        font-weight: normal;
        /* Remove bold styling for placeholder */
    }

    .columns {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        margin-right: 20px;
    }
</style>

{% endblock %}